<header class="menu">
    <nav class=" container">
        <ul>
        <li class="brand-name"><strong>FOTOTECA</strong></li>
        </ul>
        <ul class="menu__options">
        <li><a href="/">Mostrar imágenes</a></li>
        <li><a href="/add-image-form">Añadir imagen</a></li>
        </ul>
        
    </nav>
</header>